.wrapper {
	background-color: #99979c;
	padding: 5%;
	text-align: center;
	border-bottom: solid 2px;
}

.container {
	padding-top: 5%;
}

.results {
	padding-bottom: 15%;
}

h1 {
	font-weight: bold;
}

.footer {
	background-color: #99979c;
}

.glyphicon-ok {
	color: green;
	font-size: 200%;
}

.glyphicon-remove {
	color: red;
	font-size: 200%;
}

img {
	max-width: 50%;
}
